<div class="container mt-5">
	
  <h2 class="text-center">My Watchlist</h2>
  
  
  <% if @watchlist_movies.any? %>
	<div class="row justify-content-center">

  <% @watchlist_movies.each do |movie| %>
		<div class="card movie_card">
		  <%= link_to(image_tag("https://image.tmdb.org/t/p/w500/#{movie["poster_path"]}", class:"card-img-top"), movie_path(movie['tmdb_id'])) %>
      <div class="card-body">
		  	<i class="fa-solid fa-play play_button" data-toggle="tooltip" data-placement="bottom" title="Play Trailer"></i>
		    <h5 class="card-title"><%= movie["title"]%></h5>
		  </div>
		</div>
  <% end %>

    </div>
    <% else %>
      
      <div class="alert alert-danger" role="alert"><p>Your watchlist is empty.</p></div>
  <% end %>
</div>